html, body {
  height: 100vh;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "h"
    "b"
    "f";
}

.appContent {
  grid-area: b;
}
