html, body {
  height: 100vh;
}

.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 4fr 0fr;
  gap: 0px 0px;
  grid-template-areas:
    "h"
    "b"
    "f";
}

